<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a
            class="footer-link"
            href="https://www.linkedin.com/in/abraham-a-8a22631a5/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            class="footer-link"
            href="https://github.com/abrahamanderson19972020"
            target="_blank"
            >Github</a
          >
        </li>
        <li>
          <a
            class="footer-link"
            href="https://www.kaggle.com/abrahamanderson"
            target="_blank"
            >Kaggle</a
          >
        </li>
      </ul>
    </nav>
    <div>
      <a href="https://abrahamanderson.azurewebsites.net/" target="_blank"
        >© 2024 Abraham Anderson.</a
      >
    </div>
  </div>
</footer>
