.product-card {
  max-width: 500px;
  cursor: pointer;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
mat-card-image {
  width: 300px;
}
.update-button:hover {
  color: blueviolet;

  font-size: large;
}
.delete-button:hover {
  color: blueviolet;
  font-size: large;
}
